body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #134e4a, #0f766e);
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.main-heading {
  margin-bottom: 35px;
  color: white;
  font-size: 42px;
  text-align: center;
}